$base-color: #202020;
$light-color: #C4C4C4;
$main-color: #00BAAF;
$white-color: #FAFAFA;

$base-font: 14px 'Open Sans', sans-serif;
$em-font: 600 16px 'Open Sans', sans-serif;
$title-font: bold 16px 'Poppins', sans-serif;
$label-font: 600 14px 'Open Sans', sans-serif;
