@import "variables";

.titles {
  color: $base-color !important;
  font: $title-font !important;
}

.header-title {
  color: $base-color !important;
  font: $header-font !important;
}

.emphase {
  color: $base-color !important;
  font: $em-font !important;
}

.base {
  color: $base-color !important;
  font: $base-font !important;
}

.light {
  color: $light-color !important;
  font: $base-font !important;
}

.light-emphase {
  color: $light-color !important;
  font: $em-font !important;
}

.grey-emphase {
  color: $dark-grey !important;
  font: $em-font !important;
}

.button{
  color: $main-color!important;
  font: $em-font !important;
}

.button-white{
  color: $white-color !important;
  font: $em-font !important;
}

.profile-list {
  color: $main-color!important;
  font: $profile-font !important;
  text-transform: none !important;
}
