@import "variables";

.title{
  color: $base-color;
  font: $title-font;
}

.emphase{
  color: $base-color;
  font: $em-font;
}

.base{
  color: $base-color;
  font: $base-font;
}

.light{
  color: $light-color;
  font: $base-font;
}

.light-emphase{
  color: $light-color;
  font: $em-font;
}

.button{
  color: $main-color;
  font: $em-font;
}

.button-white{
  color: $white-color;
  font: $em-font;
}

.theme--light.v-label {
  color: $light-color;
  font: $base-font;
}

.v-text-field--outlined.v-input--is-focused  .theme--light.v-label--active {
  color: $main-color;
  font: $base-font;
}

.v-text-field {
  color: $light-color;
  font: $base-font;
}

.v-text-field--outlined >>> fieldset {
  border-color: $main-color;
}
