@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.title{
  color: $base-color !important;
  font: $title-font !important;
}

.emphase{
  color: $base-color !important;
  font: $em-font !important;
}

.base{
  color: $base-color !important;
  font: $base-font !important;
}

.light{
  color: $light-color !important;
  font: $base-font !important;
}

.light-emphase{
  color: $light-color !important;
  font: $em-font !important;
}

.grey-emphase {
  color: $dark-grey !important;
  font: $em-font !important;
}

.button{
  color: $main-color!important;
  font: $em-font !important;
}

.button-white{
  color: $white-color !important;
  font: $em-font !important;
}
